frontend/node_modules/*

matching-service/node_modules/*
collaboration-service/node_modules/*
user-service/node_modules/*
user-service/.env

question-service/node_modules/*
question-service/question-service-mongodb/seed-mongodb/node_modules/*
question-service/question-service-mongodb/data/*
question-service/question-service-mongodb/log/*